body{
    background-color:wheat;
}
.subjects{
    margin-left: 250px;
}
.list:hover{
    background-color: #ec9563f5;
    color: white;
}
.parents{
    text-align: center;
}
.pdf-list{
    font-weight: bolder;
}
.Notes{
    margin-left: 30%;
}
.pdf-list{
    font-size: 18px;
}
.sub-heading{
    font-weight: bolder;
    font-family: 'Bungee', cursive;
}